
.root {
    -fx-background-image: url("background.jpg");
    -fx-background-size: 600px;
    -fx-font-family: Calibri;
}


.button {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 3px 0 3px 0;
    -fx-max-width: 120px;
    -fx-text-fill: #4099e7;
    -fx-background-color:rgba(255, 250, 240, 0.9);
    -fx-border-radius: 0px;
    -fx-background-radius: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 15, 0, 5, 10);
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.button:pressed {
    -fx-text-fill: black;
    -fx-background-color: #dce1e5;
}

.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}